<div class="container mt-5">
  <h2>Tasks List</h2>
  <div class="form-group">
    <label for="project">Select Project:</label>
    <select class="form-control" id="project" [(ngModel)]="selectedProject" (change)="getTasksByProject()">
      <option *ngFor="let project of projects" [value]="project.projectId">{{ project.name }}</option>
    </select>
  </div>




  <div *ngIf="tasks && tasks.length > 0">
    <h3>Tasks for {{ selectedProject }}</h3>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let task of tasks">
        <strong>Title:</strong> {{ task.title }}<br>
        <strong>Description:</strong> {{ task.description }}<br>
        <strong>Assigned To:</strong> {{ task.assignedTo }}<br>
        <!-- <strong>Status:</strong> {{ getStatusName(task.status) }}<br> -->
      </li>
    </ul>
  </div>

  <div *ngIf="!tasks || tasks.length === 0">
    <p>No tasks found for the selected project.</p>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <div class="card">
        <h4 class="card-header text-center bg-primary text-white">Active</h4>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let task of filterTasksByStatus(0)">
              <strong>Title:</strong> {{ task.title }}<br>
              <strong>Description:</strong> {{ task.description }}<br>
              <strong>Assigned To:</strong> {{ task.assignedTo }}<br>
              <strong>Status:</strong> Active<br>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="card">
        <h4 class="card-header text-center bg-primary">QA Validation</h4>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let task of filterTasksByStatus(1)">
              <strong>Title:</strong> {{ task.title }}<br>
              <strong>Description:</strong> {{ task.description }}<br>
              <strong>Assigned To:</strong> {{ task.assignedTo }}<br>
              <strong>Status:</strong> QA Validation<br>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="card">
        <h4 class="card-header text-center bg-success text-white">Done</h4>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let task of filterTasksByStatus(2)">
              <strong>Title:</strong> {{ task.title }}<br>
              <strong>Description:</strong> {{ task.description }}<br>
              <strong>Assigned To:</strong> {{ task.assignedTo }}<br>
              <strong>Status:</strong> Done<br>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
