<form class="form-container">
  <div class="form-group">
    <label for="fullName">Full Name:</label>
    <input type="text" class="form-control" id="fullName" required>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="position">Position:</label>
    <input type="text" class="form-control" id="position" required>
  </div>
  <div class="form-group">
    <div class="list-group-item list-group-item-info">Task, Meetings, Issues will be by default 0</div>
  </div>
  <div class="row">
    <button class="btn btn-primary" id="addmember-btn">Add member</button>
    &nbsp;
    <button class="btn btn-dark" id="close-btn" (click)="CloseMemeberForm()">Close</button>
  </div>

</form>
