<div class="row container">
  <div class="col-md-6">
    <h4 class="lead">Create Project</h4>

    <form #projectForm="ngForm" (ngSubmit)="createProject()">
      <div class="form-group">
        <label for="projectName">Project Name:</label>
        <input type="text" class="form-control" id="projectName" name="projectName" [(ngModel)]="projectName" required>
      </div>
      <div class="form-group">
        <label for="description">Project Description:</label>
        <textarea class="form-control" id="description" rows="5" name="description" [(ngModel)]="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="fromDate">From Date:</label>
        <input type="date" class="form-control" id="fromDate" name="fromDate" [(ngModel)]="fromDate" required>
      </div>
      <div class="form-group">
        <label for="toDate">To Date:</label>
        <input type="date" class="form-control" id="toDate" name="toDate" [(ngModel)]="toDate" required>
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <select class="form-control" id="status" name="status" [(ngModel)]="status" required>
          <option value="Pending">Pending</option>
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
        </select>
      </div>
      <div class="form-group">
        <label for="projectOwner">Project Owner:</label>
        <input type="text" class="form-control" id="projectOwner" name="projectOwner" [(ngModel)]="projectOwner" required>
      </div>
      <button type="submit" class="btn btn-primary">Create Project</button>
    </form>
  </div>


  <div class="col-md-6">
    <h4 class="lead">Project List</h4>
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
    <hr>

    <div *ngFor="let project of projects" class="panel panel-default project-item">
      <div class="panel-heading">
        <h4 class="panel-title">{{ project.projectName }}</h4>
        <span class="pull-right project-badge">
          <i class="fa fa-edit"></i>
          <i class="fa fa-trash" (click)="onDeleteProject(project)"></i>

        </span>
      </div>
      <div class="panel-body">
        <p>{{ project.projectDescription }}</p>

        <div *ngIf="project.memberRoles && project.memberRoles.length > 0">
          <h5>Member Roles:</h5>
          <div class="list-inline">
            <span *ngFor="let memberRole of project.memberRoles" class="tag">
              <span class="label label-primary">{{ memberRole.memberName }} - {{ memberRole.role }}</span>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
