.container{
margin-left: 7%;
}

.member-project{
display: inline;
  border-radius: 20px;
  margin-right: 10px;


}

#position{
  margin-bottom: 20px;
}

.list-group-item{
margin-bottom: 30px;
}

.member-container{
  background-color: #EADFB4;
  width: 400px;
  height: 680px;
  padding: 30px;
  border-radius: 12px;
}

#member-history{
  margin-bottom: 0px;
}

